In [3]:
import sqlite3
con = sqlite3.connect("week3.sqlite", isolation_level=None)
cur = con.cursor()

In [4]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [5]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [6]:
# Check if the table is created
q = """
SELECT 
    name 
FROM 
    sqlite_master
"""
res = cur.execute(q)

In [7]:
# Fetch the first row
res.fetchone()

('movies',)

In [8]:
q = """
SELECT 
    *
FROM
    movies
"""
res = cur.execute(q)
res.fetchall()

[]

In [9]:
# '?' prevents sql injection
q = """
INSERT INTO
    movies (
        title,
        year,
        rating
    ) VALUES (?, ?, ?)
"""

cur.execute(q, ("The matrix", 1999, 5.0))

In [10]:
cur.execute(q, ("Forrest Gump", 1994, 3.5))

In [11]:
res = cur.execute("""SELECT * FROM movies""")
# for loop instead of fetcchall() -> save memory
for row in res:
    print(row)

(1, 'The matrix', 1999, 5.0, 0, '2024-01-23 23:24:21', '2024-01-23 23:24:21')
(2, 'Forrest Gump', 1994, 3.5, 0, '2024-01-23 23:36:34', '2024-01-23 23:36:34')

In [ ]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 5.0),
    ("Monty Python's The Meaning of Life", 1983, 4.5),
    ("Monty Python's Life of Brian", 1979, 3.9),
]
# bulk insert
cur.executemany("INSERT INTO movies (title, year, rating) VALUES(?, ?, ?)", data)

## Pandas
Drawbacks: memory

In [12]:
import pandas as pd

data = [
    {"name": "Ben"},
]
df = pd.DataFrame(data)

In [13]:
con = sqlite3.connect("week3.sqlite", isolation_level=None)
df.to_sql("users", con, df)

/var/folders/40/7hsctrv505b4cr6wh0nykvhh0000gn/T/ipykernel_4529/1641500105.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  df.to_sql("users", con, df)

1